
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.gridCell {
    width: calc(100% /10);
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridCellClick {
    background-color: rgb(50, 90, 230);
    color: white;
}